.container {
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header, footer {
    flex: 1;
}

header {
    background-color: rgb(122, 121, 121);
}

.container-body {
    display: -webkit-flex;
    display: flex;
    flex: 1;
}

main {
    flex: 1;
    background-color: rgb(212, 243, 154);
}

nav {
    /* order: -1; */
    background-color: rgb(23, 199, 243);
}

aside {
    background-color: rgb(13, 129, 224);
}

footer {
    background-color: rgb(12, 12, 12);
}

nav, aside {
    flex: 0 0 12em;
}

@media  (max-width: 768px) {
    .container-body {
        flex-direction: column;
        flex: 1;
    }
    nav, aside, main {
        flex: auto;
    }
}