.HolyGrail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header, footer {
    flex: 1;
}

.HolyGrail-body {
    display: flex;
    flex: 1;
}

.HolyGrail-content {
    flex: 1;
    background-color: #888888;
}

.HolyGrail-nav {
    flex: 0 0 12em;
    order: -1;
    background-color: #606060;
}

.HolyGrail-ads {
    flex: 0 0 12em;
    background-color: #585888;
}

@media (max-width: 768px) {
    .HolyGrail-body {
        flex-direction: column;
        flex: 1;
    }
    .HolyGrail-nav, .HolyGrail-ads, .HolyGrail-content {
        float: left;
    }

}