.box {
    display: -webkit-flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid rgb(151, 17, 230);
}

.item {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: #000000;
}
